Ok <%=name%>, who is <%=age%>, or should I say older than dirt? Now what color is your luxurious hair? 
	<form method = "post" action = "/haircolor">
	<input type = "hidden" name = "user_name" value = <%=name%>>
	<input type = "hidden" name = "age" value = <%=age%>>
	<input type = "text" name = "haircolor">
	<input type = "submit">
	</form> 